<%- content_for :popups do -%>
<% radiant_popup 'tinymce-linking-popup' do %>
  <table id="wysiwyg-site-map" class="index">
    <tbody>
      <%- if find_homepage -%>
      <%= render_simple_node find_homepage %>
      <%- else -%>
      <tr><td class="note">Your Site does not have any pages yet.</td></tr>
      <%- end -%>
    </tbody>
  </table>
<% end  %>
<%- end -%>
